.cardSet {
  height: 300px;
}

.card {
  position: absolute;
  background-color: beige;
  width: 10rem;
  height: 15rem;
  border: 8px solid #333;
  border-radius: 30px;

  cursor: pointer;
  user-select: none;
}
.card.selected {
  background-color: purple;
}

.card:active {
  background-color: rgba(168, 218, 220, 1);
}

.cardShortName {
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: "Gill Sans", sans-serif;
  font-weight: bold;
  font-size: 8ex;
}

.cardName {
  position: absolute;
  bottom: 0px;
  left: 8px;
  font-family: "Gill Sans", sans-serif;
  font-size: 2ex;
  vertical-align: top;
  transform: rotate(-90deg);
  transform-origin: top left;
}
