.table {
  background-color: saddlebrown;
  border: 5px solid black;
  border-radius: 5px 5px;
}

.otherPlayer {
  color: grey;
  padding: 2em;
  border: 1px dotted grey;
}

.player {
  color: black;
  padding: 2em;
  border: 1px solid darkblue;
}
